@import "tailwindcss";
 @plugin "daisyui" {
themes: light --default;
 }

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Book.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('/fonts/GothamCond-Black.otf') format('opentype');
  font-weight: 700;
}

:root {
  --pink: #e85b89;
  --green: #53b859;
  --yellow: #ebbb1e;
  --teal: #46bea8;
  --blue: #0ea6db;
  --dark: #052c2f;
}
@theme {
  --font-heading: "Gotham Condensed", sans-serif;
  --font-body: "Gotham", sans-serif;
}
